
// Partial file (won't be compiled to css)

$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url("../img/background.jpg");
$background-opacity: 0.9;

@mixin easeOut {
    transition: all .5s ease-out;
}

@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: $home-image;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            background-attachment: fixed;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: rgba($primary-color, $background-opacity);
            }
        }
    }
}

// Media Query Mixins

@mixin MediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin MediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin MediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}

@mixin MediaXl {
    @media screen and (min-width: 1171px) {
        @content;
    }
}